[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
poetry = "*"
click = "*"
toml = "*"
pipenv = "*"
cleo = "*"
emoji = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[scripts]
test = "pytest"
build = "poetry build"
